# {{ ansible_managed }}

Port {{ ssh.port }}
Protocol 2
PermitRootLogin no
PasswordAuthentication no
X11Forwarding yes
PrintMotd no
PrintLastLog yes
AllowUsers {{ user.name }}
LoginGraceTime 1m
ChallengeResponseAuthentication no
PubkeyAuthentication yes
# Password based logins are disabled - only public key based logins are allowed.
AuthenticationMethods publickey
# Log sftp level file access (read/write/etc.) that would not be easily logged otherwise.
Subsystem sftp /usr/lib/ssh/sftp-server -f AUTHPRIV -l INFO
# Preferred algorithms from: https://infosec.mozilla.org/guidelines/openssh
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
