[connection]
id=MSITVPN
uuid=a3154262-0516-4131-8021-b82e5473ac73
type=vpn
autoconnect=false
permissions=user:{{ user.name }}:;
secondaries=
timestamp=1460990464

[vpn]
domain={{ work.vpn.domain }}
gateway=pf.ras.microsoft.com
password-flags=1
refuse-chap=yes
refuse-eap=yes
refuse-mschap=yes
refuse-pap=yes
require-mppe=yes
user={{ work.vpn.user }}
service-type=org.freedesktop.NetworkManager.pptp

[ipv4]
dns=10.221.18.5;
dns-search=corp.microsoft.com;
ignore-auto-dns=true
method=auto

[ipv6]
dns-search=
method=auto