[Unit]
Description=Reflector Update Timer
Requires=network-online.target

[Timer]
Unit=reflector-update.service
OnCalendar=daily
Persistent=True
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target