---
timezone:
  hwclock: UTC
  region: Europe
  city: Copenhagen

locale:
    system: en_GB.UTF-8
    generate:
        - en_GB.UTF-8

hostname: archsible

systemd:
    boot:
      root_device: /dev/fs/root

user:
  name: archsible

fisherman:
  packages:
    - omf/theme-bobthefish
    - omf/bang-bang
    - tuvistavie/fish-ssh-agent
    - pipenv
    - gitignore
    - edc/bass
    - laughedelic/pisces
    - laughedelic/fish_logo
    - hash

vscode:
  extensions:
    - DavidAnson.vscode-markdownlint
    - Orta.vscode-jest
    - TeddyDD.fish
    - eamodio.gitlens
    - eg2.tslint
    - esbenp.prettier-vscode
    - jithurjacob.nbpreviewer
    - lunaryorn.fish-ide
    - ms-azuretools.vscode-azurefunctions
    - ms-python.python
    - ms-vscode.azure-account
    - ms-vscode.csharp
    - ms-vscode.mono-debug
    - ms-vscode.PowerShell