---
timezone:
  hwclock: UTC
  region: Europe
  city: Copenhagen

locale:
    system: en_GB.UTF-8
    generate:
        - en_GB.UTF-8

hostname: archsible

systemd:
    boot:
      root_device: /dev/fs/root

user:
  name: archsible

fisherman:
  packages:
    - omf/theme-bobthefish
    - omf/bang-bang
    - tuvistavie/fish-ssh-agent
    - pipenv
    - gitignore
    - edc/bass
    - laughedelic/pisces
    - laughedelic/fish_logo
    - hash