---
timezone:
  hwclock: UTC
  region: Europe
  city: Copenhagen

locale:
    system: en_GB.UTF-8
    generate:
        - en_GB.UTF-8

hostname: archsible

systemd:
    boot:
      root_device: /dev/fs/root

user:
  name: archsible
  uid: 1000
  group: archsible
  email: archsible@archsible.com
  log:
      dir: log
      rotate: 8

fisherman:
  packages:
    - omf/theme-bobthefish

base_packages:
    - base-devel

passwordless_sudo:
  - /usr/bin/docker

dotfiles: https://github.com/archsible/dotfiles.git

aur:
    dir: aur
    packages:
      - pikaur-git

vscode:
  extensions:
    - ms-vscode.azure-account