## {{ ansible_managed }}
##
## User privilege specification
##
root ALL=(ALL) ALL

Defaults env_keep += "SSH_AUTH_SOCK"

%wheel ALL=(ALL) ALL
{% for entry in passwordless_sudo %}
%wheel ALL=(ALL) NOPASSWD:{{ entry }}
{% endfor %}
